* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #b1babc;
}

#myform {
    margin: auto;
    width: 100%;
    max-width: 605px;
    border-radius: 8px;
    background-color: rgb(238, 239, 239);

}


.form-group {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-bottom: 10px;
    padding-top: 30px;
}

.field {
    flex: 1;
}
.query1 label {
   
    padding-left: 12px; /* Add padding to the left of the label text */
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.fn {
    padding-left: 12px;
}

.ln {
    padding-left: 12px;
}

.email {
    padding-left: 12px;
}

.message {
    padding-left: 12px;
}

input[type="text"] {
    width: 90%;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    border: 1px solid #807d7d;
    border-radius: 4px;
    margin: 10px 10px 0 12px;



}

.mainquery {

    display: flex;
    justify-content: center;
    gap: 5px;
    /* Adjust gap as needed */
    margin-bottom: 20px;
    /* Add space below query fields */
}


.query1,
.query2 {
    flex: 1;
}

.query1 input,
.query2 input {
    padding-left: 20px;
}

.query2 {
    margin-top: 0;
    margin-top: 17.9px;
}


input[type="email"] {
    width: 95%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #807d7d;
    border-radius: 4px;
    margin: 5px 12px 20px 12px;


}

.radio-in-field {
    position: absolute;
    top: 65%;
    left: 15px;
    transform: translateY(-50%);
    margin: 0;
}

textarea {

    margin: 5px 12px 20px 12px;
    width: 95%;
    padding: 30px;
    font-size: 16px;
    border: 1px solid #807d7d;
    border-radius: 4px;
    resize: none;
}

.checkboxfield {
    margin-top: 20px;
    padding-left: 12px;
}

.checkbox {
    margin-right: 20px;
}

.full-width-button {
    width: calc(100% - 25px);
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #325c6b;
    /* Button background color */
    color: white;
    /* Button text color */
    border: none;
    border-radius: 4px;
      margin-top: 20px;
      margin-bottom: 10px;
    margin-left: 12px; /* Add left margin */
    margin-right: 12px; /* Add right margin */
    cursor: pointer;
}